################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngApp/.vs/AngApp/v15/Server/sqlite3
